
Project1.dproj
Project1.dproj.local
Project1.res
Win32/Debug/Language.Pascal.dcu
Win32/Debug/Language.Scripter.dcu
Win32/Debug/Project1.exe
Win32/Debug/TestUnit.dcu
Win32/Debug/Unit1.dcu
Win32/Debug/xbParser.dcu
Win32/Debug/xbScript.dcu
__history/xbScript.pas.~10~
__history/xbScript.pas.~1~
__history/xbScript.pas.~2~
__history/xbScript.pas.~3~
__history/xbScript.pas.~4~
__history/xbScript.pas.~5~
__history/xbScript.pas.~6~
__history/xbScript.pas.~7~
__history/xbScript.pas.~8~
__history/xbScript.pas.~9~
Project1.identcache
Project1.stat
